<div class="main-container">
  <div class="register-container">
    <section class="title-container">
      <h1>Employee register</h1>
    </section>
    <section class="form-container">
      <%= render "form", employee: @employee %>
    </section>
  </div>
</div>
