.report-button{
  background: #7B7B7B;
  height: 77px;
  left: 513px;
  margin-bottom: 20px;
  top: 284px;
  width: 168px;
}
.p{
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 23px;
    left: 550px;
    letter-spacing: -0.02em;
    line-height: 23px;
    top: 311px;
    width: 166px;
}
.button-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
