<div class="main-container">
  <div class="login-container">
    <section class="title-container">
      <h1>Menu Options</h1>
    </section>
    <section class="form-container">
      <form action="">
        <div class="button-container">
          <%= link_to employees_path do %>
            <button>
              <p>Employees</p>
            </button>
          <% end %>
        </div>
        <div class="button-container">
          <%= link_to stores_path do %>
            <button>
              <p>Stores</p>
            </button>
          <% end %>
        </div>
        <div class="button-container">
          <%= link_to reports_path do %>
            <button>
              <p>Reports</p>
            </button>
          <% end %>
        </div>
      </form>
    </section>
  </div>
</div>
