<div class="main-container">
  <div class="login-container">
    <section class="title-container">
      <h1>Menu Options</h1>
    </section>
    <section class="form-container">
      <form action="">
        <div class="button-container">
          <button>
            <p><%= link_to "Employees" , employees_path%></p>
          </button>
        </div>
        <div class="button-container">
          <button>
            <p><%= link_to "Stores" , stores_path%></p>
          </button>
        </div>
        <div class="button-container">
          <button>
            <p><%= link_to "Reports" , logins_path%></p>
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
