<div class="main-container">
  <div class="register-container">
    <section class="title-container">
      <h1>Store register</h1>
    </section>
    <section class="form-container">
      <%= render "form", store: @store %>
    </section>
  </div>
</div>
