$color-primary: #969696;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
* {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;

  p {
    color: $color-primary;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 18px;
    margin-top: -167px;
    text-shadow: $shadow;
  }
}